#blue
  .container
    .row
      h3 Blog post from my mind.

.container
  .row(style='margin-bottom:30px;')
    .col-lg-8
      .grid
        - blog_list.forEach(function(post) {
        a(href=post.blog_link)
          .grid-item
            figure.effect-th
              img.img-responsive.lazy(data-original=post.blog_image, alt=post.blog_title)
              figcaption
                h2= post.blog_title
                p.description= post.blog_desc
        - })
    .col-md-4(style='margin-top: 22px;')
      .list-group
        - sidepost_list.forEach(function(sidepost) {
        a.list-group-item(href=sidepost.link, target=sidepost.target)= sidepost.title
        - })
  .row
    .col-lg-12

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.0/retina.min.js')
    script(type='text/javascript').
      $("img.lazy").lazyload({
      effect : "fadeIn"
      });

